USE [master]
GO
/****** Object:  Database [DACS2]    Script Date: 11/30/2022 10:45:40 PM ******/
CREATE DATABASE [DACS2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSHOP_DATA', FILENAME = N'D:\DACS2\DACS2_APP\Data\DACS2.mdf' , SIZE = 10240KB , MAXSIZE = 20480KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSHOP_LOG', FILENAME = N'D:\DACS2\DACS2_APP\Data\DACS2_log.ldf' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DACS2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DACS2]
GO
/****** Object:  StoredProcedure [dbo].[CHECKACC]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHECKACC]
@mk VARCHAR(50), @dn VARCHAR(50)
AS
BEGIN
	select * from DANG_NHAP where USERNAME = @mk and PASSWORD = @dn
END
GO
/****** Object:  StoredProcedure [dbo].[CHECKTONTAI]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHECKTONTAI]
@a NVARCHAR(50)
AS
BEGIN
DECLARE @b INT
IF exists (SELECT KHACH_HANG.SDT, NHAN_VIEN.SDT FROM KHACH_HANG, NHAN_VIEN WHERE KHACH_HANG.SDT = @a or NHAN_VIEN.SDT = @a)
BEGIN
	SET @b = 1
	SELECT @b
END
ELSE
BEGIN
	SET @b = 0
	SELECT @b
END
END


GO
/****** Object:  StoredProcedure [dbo].[INHOADON]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INHOADON]
AS
BEGIN
	DECLARE @mahd int
	SET @mahd = (SELECT MAX(MAHD) FROM HOA_DON)
	SELECT TENSP, CHATLIEU, MAU, SIZE, SOLUONG, GIA, SOGG, THANHTIEN, TENKH, DIACHI, TENNV, NGAYXUAT, KHACH_HANG.SDT
                FROM HOA_DON, SAN_PHAM, GIAM_GIA, CHI_TIET_HOA_DON, KHACH_HANG, NHAN_VIEN 
                WHERE HOA_DON.MAHD = CHI_TIET_HOA_DON.MAHD and SAN_PHAM.MASP = CHI_TIET_HOA_DON.MASP and GIAM_GIA.MAGG = SAN_PHAM.MAGG 
                and KHACH_HANG.MAKH = HOA_DON.MAKH and NHAN_VIEN.MANV = HOA_DON.MANV and HOA_DON.MAHD = @mahd 
	
END


GO
/****** Object:  StoredProcedure [dbo].[INNHAPHANG]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[INNHAPHANG]
AS
BEGIN
	DECLARE @manh int
	SET @manh = (SELECT MAX(MANH) FROM NHAP_HANG)
	SELECT TENSP, CHATLIEU, MAU, SIZE, NHAP_HANG.MASP, SLN, NGAYNHAP, NGUONNHAP, GIANHAP, TENNV, SLN*GIANHAP AS TONGGIANHAP
                FROM  SAN_PHAM, NHAN_VIEN, NHAP_HANG
                WHERE NHAN_VIEN.MANV = NHAP_HANG.MANV AND SAN_PHAM.MASP = NHAP_HANG.MASP AND NHAP_HANG.MANH = @manh            
END

GO
/****** Object:  StoredProcedure [dbo].[LOADHD]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LOADHD]
AS
BEGIN
	DECLARE @a INT
	SET @a = (SELECT MAX(MAHD) FROM HOA_DON);
	SELECT TENSP, CHATLIEU, MAU, SIZE, SOLUONG, GIA, SOGG, THANHTIEN 
                FROM HOA_DON, SAN_PHAM, GIAM_GIA, CHI_TIET_HOA_DON WHERE HOA_DON.MAHD = CHI_TIET_HOA_DON.MAHD and 
                SAN_PHAM.MASP = CHI_TIET_HOA_DON.MASP and GIAM_GIA.MAGG = SAN_PHAM.MAGG and HOA_DON.MAHD = @a

END


GO
/****** Object:  StoredProcedure [dbo].[THEMSANPHAM]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMSANPHAM]
@masp INT
AS
BEGIN
	DECLARE @gia INT

	SET @gia = (SELECT GIA FROM SAN_PHAM WHERE MASP = @masp);
	IF exists (SELECT MASP FROM BAN_HANG WHERE MASP = @masp)
	BEGIN
		update BAN_HANG SET SOLUONG = SOLUONG + 1 WHERE MASP = @masp
	END
	ELSE 
	BEGIN
		INSERT INTO BAN_HANG VALUES(@masp,1,@gia)
	END

	DECLARE @b INT
	DECLARE @sl INT
	DECLARE @ThanhTien INT

	SET @b = (select SOGG from GIAM_GIA, SAN_PHAM where MASP = @masp and GIAM_GIA.MAGG = SAN_PHAM.MAGG);
	SET @sl = (select SOLUONG from BAN_HANG where MASP = @masp)
	IF(@b = 0)
	BEGIN
		SET @ThanhTien = @gia * @sl
	END
	ELSE
	BEGIN
		SET @ThanhTien = (@gia * @b / 100) * @sl
	END
	update BAN_HANG set SOLUONG = @sl, THANHTIEN = @ThanhTien where  MASP = @masp
END

GO
/****** Object:  StoredProcedure [dbo].[THEMSOLUONG]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMSOLUONG]
@masp INT, @sl INT
AS
BEGIN
	DECLARE @a INT
	DECLARE @b INT
	DECLARE @ThanhTien INT

	SET @a = (select GIA from SAN_PHAM where MASP = @masp);
	SET @b = (select SOGG from GIAM_GIA, SAN_PHAM where MASP = @masp and GIAM_GIA.MAGG = SAN_PHAM.MAGG);
	IF(@b = 0)
	BEGIN
	SET @ThanhTien = @a * @sl
	END
	ELSE
	BEGIN
	SET @ThanhTien = (@a * @b / 100) * @sl
	END
	update BAN_HANG set SOLUONG = @sl, THANHTIEN = @ThanhTien where  MASP = @masp
END

GO
/****** Object:  StoredProcedure [dbo].[TONGHOADON]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TONGHOADON]
AS
BEGIN
	DECLARE @mahd int
	SET @mahd = (SELECT MAX(MAHD) FROM HOA_DON)
	SELECT SUM(THANHTIEN) as TONGTIEN
                FROM HOA_DON , CHI_TIET_HOA_DON
                WHERE HOA_DON.MAHD = CHI_TIET_HOA_DON.MAHD and  HOA_DON.MAHD = @mahd
END


GO
/****** Object:  Table [dbo].[BAN_HANG]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN_HANG](
	[MABH] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [int] NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_BAN_HANG] PRIMARY KEY CLUSTERED 
(
	[MABH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MAHD] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
	[MASP] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANG_NHAP]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANG_NHAP](
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](20) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[EMAIL] [varchar](20) NOT NULL,
	[QUYEN] [int] NULL,
 CONSTRAINT [PK_DANG_NHAP] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC,
	[PASSWORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAM_GIA]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAM_GIA](
	[MAGG] [int] IDENTITY(1,1) NOT NULL,
	[SOGG] [int] NULL,
 CONSTRAINT [PK_LOAI_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MAGG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MAHD] [int] NOT NULL,
	[MAKH] [int] NULL,
	[MANV] [int] NULL,
	[NGAYXUAT] [date] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](30) NULL,
	[SDT] [nchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[LOAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [int] NOT NULL,
	[TENNV] [nvarchar](30) NULL,
	[SDT] [nchar](10) NULL,
	[CHUCVU] [nvarchar](30) NULL,
	[NGAY] [int] NULL,
	[HSL] [int] NULL,
	[TONGLUONG] [int] NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAP_HANG]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAP_HANG](
	[MANH] [int] IDENTITY(1,1) NOT NULL,
	[NGUONNHAP] [nvarchar](100) NULL,
	[NGAYNHAP] [smalldatetime] NULL,
	[GIANHAP] [int] NULL,
	[MANV] [int] NULL,
	[SLN] [int] NULL,
	[MASP] [int] NULL,
	[TINHTRANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHAP_HANG] PRIMARY KEY CLUSTERED 
(
	[MANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MASP] [int] IDENTITY(1,10001) NOT NULL,
	[TENSP] [nvarchar](100) NULL,
	[MAU] [nvarchar](20) NULL,
	[SIZE] [varchar](10) NULL,
	[CHATLIEU] [nvarchar](20) NULL,
	[GIA] [int] NULL,
	[SLTON] [int] NULL,
	[TINHTRANG] [nvarchar](50) NULL,
	[MATH] [int] NULL,
	[MAGG] [int] NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUONG_HIEU]    Script Date: 11/30/2022 10:45:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONG_HIEU](
	[MATH] [int] IDENTITY(1,1) NOT NULL,
	[TENTH] [nvarchar](30) NULL,
 CONSTRAINT [PK_THUONG_HIEU] PRIMARY KEY CLUSTERED 
(
	[MATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHI_TIET_HOA_DON] ([MAHD], [SOLUONG], [THANHTIEN], [MASP]) VALUES (1, 1, 420000, 10001)
INSERT [dbo].[CHI_TIET_HOA_DON] ([MAHD], [SOLUONG], [THANHTIEN], [MASP]) VALUES (1, 3, 690000, 10004)
INSERT [dbo].[CHI_TIET_HOA_DON] ([MAHD], [SOLUONG], [THANHTIEN], [MASP]) VALUES (1, 3, 690000, 10007)
INSERT [dbo].[DANG_NHAP] ([USERNAME], [PASSWORD], [SDT], [EMAIL], [QUYEN]) VALUES (N'abcd1234', N'12345678', N'0912345678', N'abcd1234@gmail.com', 1)
INSERT [dbo].[DANG_NHAP] ([USERNAME], [PASSWORD], [SDT], [EMAIL], [QUYEN]) VALUES (N'zxcv1234', N'12345678', N'0989472341', N'zxcv1234@gmai.com', 0)
SET IDENTITY_INSERT [dbo].[GIAM_GIA] ON 

INSERT [dbo].[GIAM_GIA] ([MAGG], [SOGG]) VALUES (1, 0)
INSERT [dbo].[GIAM_GIA] ([MAGG], [SOGG]) VALUES (2, 40)
INSERT [dbo].[GIAM_GIA] ([MAGG], [SOGG]) VALUES (3, 30)
SET IDENTITY_INSERT [dbo].[GIAM_GIA] OFF
INSERT [dbo].[HOA_DON] ([MAHD], [MAKH], [MANV], [NGAYXUAT]) VALUES (1, 3, 20003, CAST(N'2022-11-26' AS Date))
INSERT [dbo].[HOA_DON] ([MAHD], [MAKH], [MANV], [NGAYXUAT]) VALUES (3, 5, 30004, CAST(N'2022-11-28' AS Date))
INSERT [dbo].[HOA_DON] ([MAHD], [MAKH], [MANV], [NGAYXUAT]) VALUES (4, 5, 40005, CAST(N'2022-12-28' AS Date))
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [SDT], [DIACHI], [LOAI]) VALUES (3, N'Nguyễn Thị B', N'012345678 ', N'20/10 Ninh Kiều', N'VIP')
INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [SDT], [DIACHI], [LOAI]) VALUES (5, N'Trần Minh D', N'0292320989', N'9/39 Ninh Kiều', N'Thường')
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
INSERT [dbo].[NHAN_VIEN] ([MANV], [TENNV], [SDT], [CHUCVU], [NGAY], [HSL], [TONGLUONG]) VALUES (20003, N'Văn A', N'093012938 ', N'Quản lý', 7, 300000, 2100000)
INSERT [dbo].[NHAN_VIEN] ([MANV], [TENNV], [SDT], [CHUCVU], [NGAY], [HSL], [TONGLUONG]) VALUES (30004, N'Thị B ', N'092832897 ', N'Sales', 4, 200000, 800000)
INSERT [dbo].[NHAN_VIEN] ([MANV], [TENNV], [SDT], [CHUCVU], [NGAY], [HSL], [TONGLUONG]) VALUES (40005, N'Trần C', N'092382987 ', N'Sales', 4, 100000, 400000)
SET IDENTITY_INSERT [dbo].[NHAP_HANG] ON 

INSERT [dbo].[NHAP_HANG] ([MANH], [NGUONNHAP], [NGAYNHAP], [GIANHAP], [MANV], [SLN], [MASP], [TINHTRANG]) VALUES (28, N'Công ty ABC', CAST(N'2022-10-03 00:00:00' AS SmallDateTime), 9000, 30004, 10, 10002, N'Đã cập nhật số lượng')
INSERT [dbo].[NHAP_HANG] ([MANH], [NGUONNHAP], [NGAYNHAP], [GIANHAP], [MANV], [SLN], [MASP], [TINHTRANG]) VALUES (29, N'Công ty ABC', CAST(N'2022-12-05 00:00:00' AS SmallDateTime), 10000, 20003, 20, 10003, N'Đã cập nhật số lượng')
INSERT [dbo].[NHAP_HANG] ([MANH], [NGUONNHAP], [NGAYNHAP], [GIANHAP], [MANV], [SLN], [MASP], [TINHTRANG]) VALUES (40, N'Công ty BCD', CAST(N'2022-11-30 00:00:00' AS SmallDateTime), 10000, 20003, 10, 10001, N'Đã cập nhật số lượng')
SET IDENTITY_INSERT [dbo].[NHAP_HANG] OFF
SET IDENTITY_INSERT [dbo].[SAN_PHAM] ON 

INSERT [dbo].[SAN_PHAM] ([MASP], [TENSP], [MAU], [SIZE], [CHATLIEU], [GIA], [SLTON], [TINHTRANG], [MATH], [MAGG]) VALUES (10001, N'LEVENTS® DINOSAUR TEE', N'BLACK', N'L', N'COTTON', 420000, 105, N'Đủ', 2, 3)
INSERT [dbo].[SAN_PHAM] ([MASP], [TENSP], [MAU], [SIZE], [CHATLIEU], [GIA], [SLTON], [TINHTRANG], [MATH], [MAGG]) VALUES (10002, N'LEVENTS® DINOSAUR TEE', N'BLACK', N'S', N'COTTON', 420000, 130, N'Đủ', 2, 3)
INSERT [dbo].[SAN_PHAM] ([MASP], [TENSP], [MAU], [SIZE], [CHATLIEU], [GIA], [SLTON], [TINHTRANG], [MATH], [MAGG]) VALUES (10003, N'LEVENTS® DINOSAUR TEE', N'WHITE', N'L', N'COTTON', 420000, 100, N'Đủ', 2, 3)
SET IDENTITY_INSERT [dbo].[SAN_PHAM] OFF
SET IDENTITY_INSERT [dbo].[THUONG_HIEU] ON 

INSERT [dbo].[THUONG_HIEU] ([MATH], [TENTH]) VALUES (2, N'Levents')
INSERT [dbo].[THUONG_HIEU] ([MATH], [TENTH]) VALUES (3, N'Yame')
INSERT [dbo].[THUONG_HIEU] ([MATH], [TENTH]) VALUES (4, N'Bobui')
SET IDENTITY_INSERT [dbo].[THUONG_HIEU] OFF
ALTER TABLE [dbo].[BAN_HANG]  WITH CHECK ADD  CONSTRAINT [FK_BAN_HANG_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BAN_HANG] CHECK CONSTRAINT [FK_BAN_HANG_SP]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOA_DON] ([MAHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KH]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_NV]
GO
ALTER TABLE [dbo].[NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAP_HANG_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHAP_HANG] CHECK CONSTRAINT [FK_NHAP_HANG_NV]
GO
ALTER TABLE [dbo].[NHAP_HANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAP_HANG_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
GO
ALTER TABLE [dbo].[NHAP_HANG] CHECK CONSTRAINT [FK_NHAP_HANG_SAN_PHAM]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_LSP] FOREIGN KEY([MAGG])
REFERENCES [dbo].[GIAM_GIA] ([MAGG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_LSP]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_TH] FOREIGN KEY([MATH])
REFERENCES [dbo].[THUONG_HIEU] ([MATH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_TH]
GO
USE [master]
GO
